<ion-view view-title="Reports" ng-controller="reportMailerController as $ctrl">
    <ion-content class="padding" >

        <div class="cs-spacer"></div>

        <div ng-show="$ctrl.loading">
            <div class="cs-loader-container">
                <div class="cs-loader">
                </div>
            </div>
            <h4 class="text-center">Loading...</h4>
        </div>

        <div ng-show="!$ctrl.loading">
            <div class="cs-label">Select fisher:</div>
            <div class="list" ng-show="$ctrl.showManagerList">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Fisher
                    </div>
                    <select ng-model="$ctrl.selectedReportUser" ng-options="item.Name for item in $ctrl.managedUsers">
                    </select>
                </label>
            </div>

            <div class="cs-label">Address to email data to?:</div>
            <div id="mailer-address-input">
                <label class="item item-input">

                    <input type="email" data-ng-model="$ctrl.email">
                </label>

                <div class="card" ng-if="">
                    <div class="item item-text-wrap">
                        Please note: your abalobi username is not a valid email address -
                        please use a real email address.
                    </div>
                </div>

                <div class="cs-spacer"></div>
                <button class="button button-dark button-block" ng-click="$ctrl.send()">Send</button>
                <p ng-show="$ctrl.emailSending">Generating report...</p>
                <p ng-if="$ctrl.requestStatus > 0">Your report will be sent to the email provided shortly</p>
                <p ng-if="$ctrl.requestStatus < 0">There was an error generating and sending your report</p>
            </div>
        </div>
    </ion-content>
</ion-view>

