<ion-view view-title="{{vm.getViewTitle()}}" ng-controller="HomeController as vm">

    <ion-nav-buttons side="left" ng-show="isAuthenticated">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>


    <ion-content class="padding">
        <div ng-hide="isAuthenticated">
            <p>Welcome to Abalobi Fisher Analytics! Please log in:</p>
            <button class="button button-full button-positive" ng-click="vm.login()">
                Log In / Sign Up
            </button>
        </div>
        <div ng-show="isAuthenticated">
            <p>You are logged in as: <br>{{vm.getProfile().email}}</p>
            <div class="cs-spacer"></div>

            <div ng-show="vm.isLoading">
                <h3>Loading...</h3>
            </div>
            <!--<div class="card" ng-repeat="item in vm.recentCatches()" ng-show="!vm.isLoading">-->
                <!--&lt;!&ndash;{{item}}&ndash;&gt;-->
                <!--<div class="item infoEntryHeader">-->
                    <!--Date: <span class="noBold">{{item.date}}</span><br/>-->
                    <!--Landing site: <span class="noBold">{{item.site_back_up || item.community}}</span>-->
                <!--</div>-->
                <!--<div class="item item-text-wrap">-->
                    <!--<ul class="list">-->
                        <!--<strong><p>{{item.species}}</p></strong>-->
                        <!--<p ng-show="item.items !== null">{{item.items}} items</p>-->
                        <!--<p ng-show="item.crates !== null">{{item.crates}} crates</p>-->
                        <!--<p ng-show="item.weight !== null">Weight: {{item.weight}} kg</p>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->

            <div class="card" ng-repeat="record in vm.recentCatches()">
                <div class="item infoEntryHeader">
                    Date: <span class="noBold">{{record.key}}</span><br/>Landing site: <span class="noBold">{{record.site}}</span>
                </div>
                <div class="item item-text-wrap">
                    <ul class="list">
                        <li class="infoEntry" ng-repeat="entry in record.speciesInfo">
                            <span class="infoEntryKey">{{entry.key}}</span><span class="infoEntryValue">{{entry.value}}</span>
                            <br ng-if="entry.fisher"/>
                            <span class="infoEntryFisherName" ng-if="entry.fisher">{{entry.fisher}}</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-show="!vm.isLoading && vm.recentCatches().length === 0">
                <h3>No Recent Catches to display.</h3>
            </div>

            <button class="button button-full button-dark" ng-click="vm.logout()">
                Log Out
            </button>

            <div class="cs-spacer">
                <h4>Developer Console</h4>
                <pre>{{vm.consoletext()}}</pre>
            </div>
        </div>
    </ion-content>
</ion-view>
