<ion-view ng-controller="priceEvolutionController as $ctrl">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Show history of:
                </div>
                <select ng-model="$ctrl.selectedCalculationMethod" ng-options="method for method in $ctrl.methods"
                        ng-change="$ctrl.calculationMethodChange($ctrl.selectedCalculationMethod)"></select>
            </label>
        </div>


        <!-- <double-sided-toggle left-option="Personal" right-option="Co-op"
            label="Calculate By:"
            on-change="$ctrl.calculationToggleChange(value)">
        </double-sided-toggle> -->
<!--test-->
        <br/>

        <div ng-show="$ctrl.loading">
            <h3>Loading....</h3>
        </div>

        <div ng-show="!$ctrl.loading && $ctrl.noDataExists()">
            <p>Unable to fetch data! Please ensure you have a connection, then click the button below to try again.</p>
            <button class="btn-main" ng-click="$ctrl.requestFreshData()">Retry
            </button>
        </div>

        <div ng-show="!$ctrl.noDataExists() && !$ctrl.loading">
            <line-chart data="$ctrl.data" xtitle="$ctrl.xTitle" ytitle="$ctrl.yTitle"
                        width=600 height=350></line-chart>
        </div>
        <!--<loading-overlay loading="$ctrl.loading"></loading-overlay>-->
    </ion-content>
</ion-view>
