<ion-view view-title="Home" ng-controller="HomeController as vm">
    <ion-content class="padding">
        <!--<h1>Testing</h1>-->
        <div>
            <h4>Welcome to Abalobi Fisher Reports!</h4>

            <div ng-show="vm.isLoading">
                <div class="cs-loader-container">
                    <div class="cs-loader">
                    </div>
                </div>
                <h4 class="text-center">Vul inligting in...</h4>
            </div>

            <div ng-show="!vm.isLoading && vm.hasError">
                <div class="card">
                    <div class="item item-text-wrap">
                        As jy nie enige aksie kan doen nie. Kyk asseblief na jou internet instellings of data.
                        <br/> Maak seker dat jou plaaslike Abalobi Bestuurder jou besonderhede reg ingevul het.
                    </div>
                </div>
            </div>

            <div ng-show="!vm.isLoading && vm.missingCreds">
                <div class="card">
                    <div class="item item-text-wrap">
                            Vra jou plaaslike Abalobi Bestuurder om jou besonderhede in te vul sodat jy kan begin.
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
