<ion-view view-title="Home" ng-controller="HomeController as vm">
    <ion-content class="padding">
        <!--<h1>Testing</h1>-->
        <div>
            <p>Welcome to Abalobi Fisher Analytics!</p>

            <div ng-show="vm.isLoading">
                <div class="cs-loader-container">
                    <div class="cs-loader">
                    </div>
                </div>
                <h4 class="text-center">Loading...</h4>
            </div>

            <div ng-show="!vm.isLoading && vm.hasError">
                <div class="card">
                    <div class="item item-text-wrap">
                        Unable to connect to the server. Please check your internet connection settings or data cap.
                        <br/> Make sure your manager has set you details correctly in the settings.
                    </div>
                </div>
            </div>

            <div ng-show="!vm.isLoading && vm.missingCreds">
                <div class="card">
                    <div class="item item-text-wrap">
                        Ask your manager to set your details in the settings to get started.
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
