<ion-side-menus>

    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable bar-abalobi">
            <!--<ion-nav-back-button>-->
                <!---->
            <!--</ion-nav-back-button>-->
            <ion-nav-buttons side="left">
                <button class="button button-icon" menu-toggle="left" ng-show="false">
                        <i class="icon ion-navicon abalobi-menu-cheeseburger"></i>
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon" ng-click="popover.show($event)" ng-show="showSettings">
                    <i class="icon ion-android-more-vertical abalobi-menu-cheeseburger"></i>
                  </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent">
            <h1>Test</h1>
        </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" ng-if="isAuthenticated">
        <ion-header-bar class="bar-stable bar-abalobi">
            <h1 class="title white">Menu</h1>
        </ion-header-bar>
        <ion-content class="has-header">
            <ion-list>
                <!-- <ion-item menu-close href="#/app/home">
                    My Trips
                </ion-item>
                <ion-item menu-close href="#/app/catch-by-time-period">
                    My Catches
                </ion-item>
                <ion-item menu-close href="#/app/expenses-income-report">
                    Finance
                </ion-item>
                <ion-item menu-close href="#/app/catch-days-report">
                    Fishing Days
                </ion-item> -->
                <!--<ion-item menu-close href="#/app/evolution-of-prices">-->
                    <!--Price Change-->
                <!--</ion-item>-->
                <!-- <ion-item menu-close href="#/app/report-mailer">
                    E-mail my data
                </ion-item> -->
                <!--<ion-item menu-close href="#/app/login">-->
                    <!--Login Page-->
                <!--</ion-item>-->
                <ion-item menu-close ng-click="logout()">
                    Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
