<ion-view ng-controller="catchDaysController as $ctrl">
    <ion-content class="padding">

        <div ng-show="$ctrl.loading">
            <h3>Loading...</h3>
        </div>
        <div ng-show="!$ctrl.loading">
            <h2>Fishing &amp; No Fishing Days</h2>

            <div id="chart">
                <stacked-bar-chart data="$ctrl.dataMap" xtitle="$ctrl.xTitle" ytitle="$ctrl.yTitle"
                                   width=300 height=400></stacked-bar-chart>
            </div>
        </div>



    </ion-content>
</ion-view>
