<ion-view ng-controller="catchDaysController as $ctrl" view-title="Fishing Days">
    <ion-content class="padding">

        <div class="cs-spacer"></div>
        <button class="btn-main" ng-click="$ctrl.requestFreshData()">
            Refresh Data
        </button>

        <div ng-show="$ctrl.loading">
            <div class="cs-loader-container">
                <div class="cs-loader">
                </div>
            </div>
            <h4 class="text-center">Loading...</h4>
        </div>
        <div ng-show="!$ctrl.loading && !$ctrl.noDataExists()">
            <div id="chart">
                <stacked-bar-chart data="$ctrl.dataMap" xtitle="$ctrl.xTitle" ytitle="$ctrl.yTitle"
                                   width=300 height=400>
                </stacked-bar-chart>
            </div>
        </div>

        <div ng-show="!$ctrl.loading && $ctrl.noDataExists()">
            <div class="card" >
                <div class="item item-text-wrap">
                    Unable to connect to the server. Please check your internet connection settings or data cap.
                </div>
            </div>
        </div>

        <div class="cs-spacer"></div>




    </ion-content>
</ion-view>
