<ion-view view-title="My Catches" ng-controller="catchByTimePeriodController as $ctrl">
    <ion-content id="topThing" class="padding">

        <!--<button class="btn-main" ng-click="$ctrl.printDebugData()">-->
            <!--Print Debug Data-->
        <!--</button>-->

        <button class="btn-main" ng-click="$ctrl.requestFreshData()">
            Refresh Data
        </button>

        <div class="list" ng-if="$ctrl.isManager == true">
            <label class="item item-input item-select">
                <div class="input-label">
                    Select Fisher:
                </div>
                <select ng-model="$ctrl.selectedFisher"
                        ng-options="fisher for fisher in $ctrl.fisherList"
                        ng-change="$ctrl.fisherChange($ctrl.selectedFisher)"></select>
            </label>
        </div>

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Select time interval:
                </div>
                <select ng-model="$ctrl.selectedInterval" ng-options="interval for interval in $ctrl.intervals"
                        ng-change="$ctrl.intervalChange($ctrl.selectedInterval)"></select>
            </label>
        </div>

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Catch summary:
                </div>
                <select ng-model="$ctrl.selectedCalculationMethod" ng-options="method for method in $ctrl.methods"
                        ng-change="$ctrl.calculationMethodChange($ctrl.selectedCalculationMethod)"></select>
            </label>
        </div>

        <!--<button class="button button-block button-dark" ng-click="$ctrl.printThings()">Print Things</button>-->

        <!--<div>-->
        <!--Title x: {{$ctrl.xTitle}} <br>-->
        <!--Title y: {{$ctrl.yTitle}} <br>-->
        <!--<pre>{{$ctrl.dataMap}}</pre>-->
        <!--</div>-->

        <br/>

        <div ng-show="$ctrl.loading">
            <div class="cs-loader-container">
                <div class="cs-loader">
                </div>
            </div>
            <h4 class="text-center">Loading...</h4>
        </div>

        <div ng-show="!$ctrl.loading && $ctrl.dataMap">
            <div style="" id="chart">
                <stacked-bar-chart data="$ctrl.dataMap" xtitle="$ctrl.xTitle" ytitle="$ctrl.yTitle"
                                   width=$ctrl.cWidth height=400>
                </stacked-bar-chart>
            </div>
        </div>

        <div class="card" ng-show="!$ctrl.loading && $ctrl.dataMap === undefined">
            <div class="item item-text-wrap">
                Unable to connect to the server. Please check your internet connection settings or data cap.
            </div>
        </div>

        <loading-overlay loading="$ctrl.loading">

        </loading-overlay>


    </ion-content>

</ion-view>
