.navbar-margin{
    margin-top: 50px;
}

/*============================================================================
    Utility
 ============================================================================*/
.cs-spacer{
    height: 20px;
}
.cs-scroll-container{
    position: relative;
    height: 1000px;
    width: 100%;
}
.cs-scroller{
    //overflow-x: scroll;
    //overflow-y: scroll;

    position: absolute;
    height: 100%;
    width: 100%;

    //background-color: green;
}
.cs-allow-scroll{
    overflow-y: scroll;
}
.btn-main{
    @extend .button;
    @extend .button-block;
    @extend .button-dark;
}

/*============================================================================
    Shadows
 ============================================================================*/
.paper-shadow {
    //position: absolute;
    //top: 0;
    //left: 0;
    //bottom: 0;
    //right: 0;
    //border-radius: inherit;
    //pointer-events: none;
}

.paper-shadow-bottom-z-2 {
    //box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


/*============================================================================
    Financial Page
 ============================================================================*/
.finance-content {
    position: relative;
    //overflow: auto;
    //overflow-y: scroll;
    //height: auto;
}


/*============================================================================
    Testing area
 ============================================================================*/
.bar-abalobi{
    @extend .paper-shadow-bottom-z-2;
    background-color: #1976D2 !important;
    border-color: #1976D2 !important;
    color: white !important;

    //@extend .paper-shadow, .paper-shadow-bottom-z-2;
}
.abalobi-menu-cheeseburger{
    color: white !important;
}
.title{
    color: white !important;
    .title-center{
        color: white !important;
        .header-item {
            color: white !important;
        }
    }
}
.white{
    color: white !important;
}
