.navbar-margin{
    margin-top: 50px;
}

/*============================================================================
    Utility
 ============================================================================*/
.cs-spacer{
    height: 20px;
}
.cs-allow-scroll{
    overflow-y: scroll;
}
.cs-scroll-container{
    //@extend .cs-allow-scroll;

    position: relative;
    height: 1000px;
    width: 100%;
}
.cs-scroller{
    //@extend .cs-allow-scroll;
    overflow-x: scroll;
    //overflow-y: scroll;

    position: absolute;
    height: 100%;
    width: 100%;

    //background-color: green;
}

.cs-label {
    padding: 7px 10px 7px 0px;
    font-size: 16px;
}

.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}
.btn-main{
    @extend .button;
    @extend .button-block;
    @extend .button-dark;
}

/*============================================================================
    Shadows
 ============================================================================*/
.paper-shadow {
    //position: absolute;
    //top: 0;
    //left: 0;
    //bottom: 0;
    //right: 0;
    //border-radius: inherit;
    //pointer-events: none;
}

.paper-shadow-bottom-z-2 {
    //box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


/*============================================================================
    Financial Page
 ============================================================================*/
.finance-content {
    position: relative;
    //overflow: auto;
    //overflow-y: scroll;
    //height: auto;
}

/*============================================================================
    Loader
 ============================================================================*/

$c1: #114357;
$c2: #826C75;
$c3: #F29492;

.cs-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
    min-height: 150px;
}
.cs-loader {
    filter: saturate(3);
    width: 0.1px;
    height: 0.1px;
    border: 40px solid transparent;
    border-radius: 5px;
    animation: loader 3s ease-in infinite, spin 1s linear infinite;
}
.cs-loader::before {
    filter: saturate(0.3);
    display: block;
    position: absolute;
    z-index: -1;
    margin-left: -40px;
    margin-top: -40px;
    content:'';
    height:0.1;
    width:0.1;
    border: 40px solid transparent;
    border-radius: 5px;
    animation: loader 2s ease-in infinite reverse, spin 0.8s linear infinite reverse;
}
.cs-loader::after {
    display: block;
    position: absolute;
    z-index: 2;
    margin-left: -10px;
    margin-top: -10px;
    content:'';
    height:20px;
    width:20px;
    border-radius: 20px;
    background-color: white;
}
@keyframes loader {
    0% {border-bottom-color:transparent;border-top-color:$c1}
    25% {border-left-color:transparent;border-right-color:$c2}
    50% {border-top-color:transparent;border-bottom-color:$c3}
    75% {border-right-color:transparent;border-left-color:$c2}
    100% {border-bottom-color:transparent;border-top-color:$c1}
}
@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(-360deg)}
}


/*============================================================================
    Testing area
 ============================================================================*/
.bar-abalobi{
    @extend .paper-shadow-bottom-z-2;
    background-color: #1976D2 !important;
    border-color: #1976D2 !important;
    color: white !important;

    //@extend .paper-shadow, .paper-shadow-bottom-z-2;
}
.abalobi-menu-cheeseburger{
    color: white !important;
}

.small-popover{
    height: 64px;
}

.title{
    color: white !important;
    .title-center{
        color: white !important;
        .header-item {
            color: white !important;
        }
    }
}
.white{
    color: white !important;
}
