/* Empty. Add your own CSS if you like */
.reports-container {
    width: 100%;
    //min-height: 1000px;
    //background-color: #f93;
    padding: 8px;
}

.vis-tip {
    color: #276419;
    font-size: 14px;
    margin: 8px 4px;
    text-decoration: underline;
}
