/* Empty. Add your own CSS if you like */
.reports-container {
    width: 100%;
    //min-height: 1000px;
    //background-color: #f93;
    padding: 8px;
}

.vis-tip {
    font-size: 10px;
    margin: 2px 4px; 
}
